// 背景图片
@mixin backgrounImage($url) {
  background-image: url($url);
}

// 禁止折行
@mixin noWrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 扩展小图标按钮的点击区域
@mixin extendClick() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
  }
}
