@import '@/assets/scss/variable';

.scroll-container {
  position: fixed;
  // 头部高度 + tab 高度
  top: calc(45px + 45px);
  left: 0;
  width: 100%;
  // 100vh - 头部高度 - tab 高度
  height: calc(100vh - 45px - 45px);
  overflow: hidden;

  // singer fixed title
  .singer-fixed-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .title {
      padding: 0.5rem 1rem;
      font-size: $font-size-small;
      color: $color-text-l;
      background: $color-highlight-background;
    }
  }

  // shortcut
  .shortcut {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    border-radius: 10px;
    text-align: center;
    background: $color-background-d;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      width: 25px;
      color: $color-text-l;
      font-size: $font-size-small;
      &.current {
        color: $color-theme;
      }
    }
  }
}
