@import '@/assets/scss/variable';
@import '@/assets/scss/mixin';

.content {
  height: 100%;
  position: relative;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-back {
      display: block;
      font-size: $font-size-large-x;
      color: $color-theme;
    }
  }

  .title {
    position: absolute;
    top: 0;
    left: 55px;
    right: 55px;
    line-height: 45px;
    z-index: 10;
    @include noWrap();
    text-align: center;
    font-size: $font-size-large;
    color: $color-text;
  }

  .background-image {
    position: relative;
    background-size: cover;
    .play-action-container {
      position: absolute;
      bottom: 20px;
      width: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      .play-button {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border: 1px solid $color-theme;
        color: $color-theme;
        border-radius: 100px;
        .icon-play {
          flex: none;
          margin-right: 0.5rem;
          font-size: $font-size-medium-x;
        }
        .text {
          flex: 1;
          font-size: $font-size-small;
        }
      }
    }
    .filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(5, 15, 25, 0.35);
    }
  }

  .top-list-detail-content-scroll-container {
    position: absolute;
    width: 100%;
    z-index: 2;
    .scroll-content {
      background: $color-background;
      .song-list {
        .song-list-item {
          display: flex;
          padding: 0.6rem 1rem;
          .left {
            flex: none;
            width: 30px;
            text-align: center;
            .icon {
              display: flex;
              width: 30px;
              height: 24px;
              background-size: 25px 24px;
              background-position: center;
              background-repeat: no-repeat;
              &.icon-1 {
                @include backgrounImage('../../assets/images/first.png');
              }
              &.icon-2 {
                @include backgrounImage('../../assets/images/second.png');
              }
              &.icon-3 {
                @include backgrounImage('../../assets/images/third.png');
              }
            }
          }
          .right {
            padding-left: 1rem;
            flex: 1;
            .title {
              font-size: $font-size-medium;
              color: $color-text;
            }
            .album {
              margin-top: 0.25rem;
              color: $color-text-d;
            }
          }
        }
      }
    }
  }
}
