@import '@/assets/scss/variable';

.search-input {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 0 0.5rem;
  height: 32px;
  background: $color-highlight-background;
  border-radius: 6px;
  .icon-search {
    flex: none;
    font-size: 1.65rem;
    color: $color-text-d;
  }
  .input {
    flex: 1;
    height: 32px;
    line-height: 32px;
    margin: 0 0.35rem;
    background: $color-highlight-background;
    color: $color-text;
    font-size: $font-size-medium;
    outline: 0;
    &::placeholder {
      color: $color-text-d;
    }
  }
  .icon-dismiss {
    flex: none;
    font-size: 1.1rem;
    color: $color-text-d;
  }
}
