@import '@/assets/scss/variable';

.add-song-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1003; // 要比 .play-list-wrapper 大
  background: $color-background;
  .header {
    position: relative;
    text-align: center;
    padding: 0.5rem 5rem;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 1.2rem;
      color: $color-text;
    }
    .close {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translate(0, -50%);
      .icon-close {
        display: block;
        padding: 12px;
        font-size: 1.23rem;
        color: $color-theme;
      }
    }
  }
}
