@import '@/assets/scss/variable';
@import '@/assets/scss/mixin';

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  text-align: center;
  color: $color-theme;
  box-shadow: 0 1px 1px #7e8c8d;
  background: #222;
  z-index: 999;

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 32px;
      margin-right: 0.75rem;
      background-size: 30px 32px;
      @include backgrounImage('../../assets/images/logo-1.png');
    }
    .text {
      display: inline-block;
      vertical-align: top;
      line-height: 45px;
      font-size: $font-size-large;
    }
  }

  .mine {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    .icon-mine {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      font-size: $font-size-large-x;
      color: $color-theme;
    }
  }
}
