@import '@/assets/scss/variable';

.container {
  .content-title {
    padding: 1rem;
    text-align: center;
    font-size: $font-size-medium;
    line-height: 1.5rem;
    color: $color-theme;
  }

  .list {
    padding-bottom: 1rem;

    .list-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }

      .image {
        flex: none;
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .right {
        flex: 1;
        padding-left: 1rem;
        .username {
          margin-bottom: 0.875rem;
          font-size: $font-size-medium-x;
          color: $color-text;
        }
        .title {
          font-size: $font-size-medium;
          color: $color-text-d;
        }
      }
    }
  }
}
