@import '@/assets/scss/variable';

.lyric-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .lyric-list {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    .text {
      line-height: 2.3rem;
      color: $color-text-l;
      font-size: $font-size-medium;
      &.active {
        color: $color-text;
        font-weight: 600;
      }
    }
  }
  .pure-music-lyric {
    padding-top: 45%;
    line-height: 2.3rem;
    color: $color-text-l;
    font-size: $font-size-medium;
    text-align: center;
  }
}
