@import '@/assets/scss/variable';
@import '@/assets/scss/mixin';

.play-list-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1002; // 比 .mini-player-container 大
  background-color: $color-background-d;
  .play-list-container {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 210;
    width: 100%;
    background-color: $color-highlight-background;
    .header-container {
      position: relative;
      padding: 20px;
      .title {
        display: flex;
        align-items: center;
        .icon {
          width: 45px;
          font-size: 24px;
          color: $color-theme-d;
        }
        .text {
          flex: 1;
          font-size: $font-size-medium;
          color: $color-text-l;
        }
        .clear {
          @include extendClick();
          .icon-clear {
            font-size: $font-size-medium;
            color: $color-text-d;
          }
        }
      }
    }
    .scroll-container {
      max-height: 250px;
      overflow: hidden;
      .song-list {
        .song-list-item {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 0 20px;
          overflow: hidden;
          .current {
            flex: none;
            width: 45px;
            font-size: $font-size-small;
            color: $color-theme-d;
            padding-left: 6px;
          }
          .text {
            flex: 1;
            @include noWrap();
            font-size: $font-size-medium;
            color: $color-text-d;
          }
          .favorite {
            @include extendClick();
            margin-right: 15px;
            font-size: $font-size-small;
            color: $color-theme;
            .icon-favorite {
              color: $color-sub-theme;
            }
          }
          .delete {
            @include extendClick();
            font-size: $font-size-small;
            color: $color-theme;
            &.disable {
              color: $color-theme-d;
            }
          }
        }
      }
    }
    .add-container {
      width: 150px;
      margin: 20px auto;
      .add {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border: 1px solid $color-text-l;
        border-radius: 100px;
        color: $color-text-l;
        .icon-add {
          margin-right: 6px;
          font-size: $font-size-small-s;
        }
        .text {
          font-size: $font-size-small;
        }
      }
    }
    .footer-container {
      text-align: center;
      line-height: 60px;
      background: $color-background;
      font-size: $font-size-medium-x;
      color: $color-text-l;
    }
  }
}
