@import '@/assets/scss/variable';
@import '@/assets/scss/mixin';

.search-suggest-scroll-container {
  position: fixed;
  // 头部高度 + tab 高度 + search input 宽度 + 间距
  top: calc(45px + 45px + 32px + 1rem);
  left: 0;
  width: 100%;
  overflow: hidden;
  .suggest-list {
    padding: 0 1.5rem 1rem;
    .suggest-list-item {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      .icon {
        width: 30px;
        [class^='icon-'] {
          font-size: 1rem;
          color: $color-text-d;
        }
      }
      .name {
        flex: 1;
        font-size: $font-size-medium;
        color: $color-text-d;
        overflow: hidden;
        .text {
          @include noWrap();
        }
      }
    }

    .load-more-data-loading {
      position: relative;
      height: 50px;
    }
  }
}
